body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  margin-left: 1em;
  margin-right: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

select{
  width: 25em;
  font-size: large;
}


.length{
  font-size: small;
}

.select{
  float: left;
  width: 50%;
}

.login-info{
  margin-left: 55%;
  margin-right: 5%;
}

.password-warning{
  font-size: smaller;
}

.register-form, .login-form{
  float: left;
}

.waves-effect{
  margin-bottom: 1em;
}